# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
.webassets-cache

# Sphinx documentation
docs/_build/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.env
.venv
venv/

# IDEs and Editors
.idea/
.vs/
.vscode/

# pytest and unittest
.pytest_cache

# Other files
instance/*.db
instance/*.sqlite
*.http
*.log
