[Unit]
Description=MinerU pdf to markdown convertor

[Service]
ExecStart=%h/miniconda3/envs/mineru3/bin/gunicorn
WorkingDirectory=%h/.local/webapps/mineru-pdf
Restart=always
RestartSec=10
KillMode=mixed
Type=simple

[Install]
WantedBy=multi-user.target default.target
