celery==5.4.0
doclayout-yolo==0.0.3
Flask==3.1.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
gunicorn==23.0.0
magic-pdf==1.2.2
marshmallow==3.26.1
opencv-python==4.11.0.86
paddlepaddle==2.6.2
paddlepaddle-gpu==2.6.2
pillow==11.1.0
pycocotools==2.0.8
python-dotenv==1.0.1
python-dateutil==2.9.0.post0
SQLAlchemy==2.0.39
redis==5.2.1
requests==2.32.3
ultralytics==8.3.96
