arrow~=1.4.0
base58~=2.1.1
celery~=5.6.2
celery[redis]~=5.6.2
concurrent-log-handler~=0.9.25
filename-sanitizer~=0.1.0
filetype~=1.2.0
Flask~=3.1.2
Flask-HTTPAuth~=4.8.0
Flask-Migrate~=4.1.0
Flask-Pydantic~=0.14.0
Flask-SQLAlchemy~=3.1.1
filesizelib~=0.12.1
gunicorn~=23.0.0
marshmallow~=4.2.0
mineru==2.7.3
mineru[pipeline]==2.7.3
mineru[vlm]==2.7.3
python-dotenv~=1.2.1
pytz>=2025.2
requests~=2.32.5
SQLAlchemy~=2.0.45
toolz~=1.1.0
# for Hopper(sm90), Blackwell(sm120) GPUs, you should use following dependencies
cuda-python~=12.9.0
torch~=2.9.1
vllm~=0.12.0
# for Ampere(sm80,sm86), Ada(sm89) GPUs, you should use following dependencies
#cuda-python~=12.8.0
#torch~=2.7.1
#vllm~=0.10.1.1
# for torch optimized performance
flashinfer-cubin==0.6.1
flashinfer-python==0.6.1
