arrow~=1.4.0
celery~=5.6.2
concurrent-log-handler~=0.9.25
filename-sanitizer~=0.1.0
filetype~=1.2.0
Flask~=3.1.2
Flask-Migrate~=4.1.0
Flask-Pydantic~=0.14.0
Flask-SQLAlchemy~=3.1.1
filesizelib~=0.12.1
gunicorn~=23.0.0
marshmallow~=4.2.0
mineru~=2.7.1
mineru[pipeline]~=2.7.1
mineru[vlm]~=2.7.1
mineru[vllm]~=2.7.1
python-dotenv~=1.2.1
pytz>=2025.2
requests~=2.32.5
SQLAlchemy~=2.0.45
